@import url("./tokens/colors.css") layer(uiid.tokens);
@import url("./tokens/spacing.css") layer(uiid.tokens);

body {
  background-color: var(--shade_background);
  color: var(--shade_foreground);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}
