:root {
  --white: white;
  --black: black;

  --background: var(--white);
  --foreground: var(--black);

  /** dark mode */
  @media (prefers-color-scheme: dark) {
    --background: var(--black);
    --foreground: var(--white);
  }

  /** validation colors */
  --shade_negative: tomato;
  --shade_cautious: gold;
  --shade_positive: mediumseagreen;

  /** muted colors */
  --shade_muted: color-mix(in srgb, var(--foreground), var(--background) 50%);
  --shade_accent: color-mix(in srgb, var(--foreground), var(--background) 25%);
}
