body,
html {
  margin: 0;
  padding: 0;
  text-align: center;
}

* {
  box-sizing: border-box;
}

:root {
  --spacing_scale: 1rem;
}

#theme-toggle {
  cursor: pointer;
  width: 300px;
  margin-inline: auto;
  text-align: center;
  padding: 0.5rem;
  background-color: var(--shade_foreground);
  color: var(--shade_background);

  &:hover {
    scale: 1.01;
  }
  &:active {
    scale: initial;
  }
}

.color-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100dvw;
  & > * {
    flex: 1;
  }
}

.color-grid__item {
  flex: 1;
  height: 200px;
}

.color-grid__layer {
  min-height: 200px;
  max-height: 600px;
  aspect-ratio: 1 / 1;
  padding: 2rem;
}

.shade-foreground {
  background-color: var(--shade_foreground);
}

.shade-background {
  background-color: var(--shade_background);
}

.shade-surface {
  background-color: var(--shade_surface);
}

.shade-muted {
  background-color: var(--shade_muted);
}

.shade-accent {
  background-color: var(--shade_accent);
}

.shade-halftone {
  background-color: var(--shade_halftone);
}

.shade-negative {
  background-color: var(--shade_negative);
}

.shade-pressing {
  background-color: var(--shade_pressing);
}

.shade-cautious {
  background-color: var(--shade_cautious);
}

.shade-positive {
  background-color: var(--shade_positive);
}

.shade-informative {
  background-color: var(--shade_informative);
}

/* Contrast testing grids */
.contrast-test {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-inline: auto;
  margin-block-end: 4rem;
  width: 90%;
  max-width: 800px;
}
.letter-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(40px, 1fr));
  gap: 0.5rem;
  justify-items: center;
}
.letter-grid span {
  display: inline-block;
}
.letter-large span {
  font-size: 2rem;
  font-weight: 600;
}
.letter-small span {
  font-size: 0.75rem;
  font-weight: 600;
}

.inner {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  align-items: center;
  justify-content: center;

  span {
    color: var(--background);
    text-transform: uppercase;
    font-weight: bold;
  }
}
